* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----Navbar-------*/
nav {
    background-color: #5c8c7e;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

nav img {
    height: 80%;
    position: relative;
    margin-left: 5px;
}

#menu-toggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menu-toggle a {
    text-decoration: none;
    color: #407444;
    transition: color 0.3s ease;
}

#menu-toggle a:hover {
    color: #394b56;
}

#menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: -5px;
    
    cursor: pointer;
    
    opacity: 0; 
    z-index: 2;
    
    -webkit-touch-callout: none;
}

#menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menu-toggle span:first-child {
    transform-origin: 0 0;
}

#menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menu-toggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menu-toggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu.closed {
    height: 0;
}

#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    height: 0;
    overflow: hidden;
    top: 38px;
    left: -147px;
    background: #ededed;
    list-style-type: none;
    transition: 0.5s;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    color: #222b30;
}

#menu-toggle input:checked ~ #menu {
    height: auto; 
    background-color: #5c8c7e;
    text-align: center;
 }

#menu-toggle input:checked~ul {
    transform: none;
}

/* -------Footer-------- */
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color:#5c8c7e;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #222b30;
}

/*-------Presentation Page --------------*/
.presentation div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.presentation img {
    max-height: 300px;
}

.presentation img:last-of-type {
    max-height: 100px;
}

.presentation p {
    margin: 20px;
    text-align: justify;
}

body {
    background-color: rgb(243, 243, 243);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*-------Contact Page --------------*/
.contact form {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin: 10px;
}

.contact input {
    height: 20px;
    padding : 10px;
    margin: 10px;
}

.contact input:last-of-type {
    height: 20px;
    padding-bottom : 100px;
}

.contact button {
    border-radius: 5px;
    padding: 5px;
    background-color: #153043ff;
    color: white;
    height: 30px;
}

/*--------Episodes Page-------------*/

.slider {
    position: relative;
    overflow: hidden;
}

.abstract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.couv {
    width: 100%;
    display: none;
    transition: 0.5s;
    text-align: center;
}

.couv.active {
    display: block;
}

.couv img {
    max-width: 100%;
    margin: 0 auto;
}

.couv h2,
.couv p {
    text-align: center;
    margin: 10px 0;
    padding: 5px;
}

#prev,
#next {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    transform: translateY(-50%);
}

#prev {
    left: 0px;
    margin-left: auto;
}

#next {
    right: 0px;
    margin-right: auto;
}

/*-------Landing Page --------------*/

.landing div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing img{
    width: 100%;
}

.landing p {
    margin: 30px;
    margin-bottom: 10px;
    text-align: justify;
}

.landing button {
    border-radius: 5px;
    padding: 5px;
    background-color: #153043ff;
    color: white;
    height: 30px;
    margin-bottom: 20px;
}