* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.slider {
    position: relative;
    overflow: hidden;
    width:  300px;
}

.couv {
    height: 300px;
    z-index: 1;
    margin: auto;
    display: none;
    transition: 0.5s;
}

.couv img {
    margin: auto;
}
.couv.active {
    display: flex;
}

#prev,
#next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: 0;
}

#next {
    right: 0;
}
