.slider {
    position: relative;
    overflow: hidden;
}

.abstract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.couv {
    width: 100%;
    display: none;
    transition: 0.5s;
    text-align: center;
}

.couv.active {
    display: block;
}

.couv img {
    max-width: 100%;
    margin: 0 auto;
}

.couv h2,
.couv p {
    text-align: center;
    margin: 10px 0;
}

#prev,
#next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: 0;
}

#next {
    right: 0;
}
